<div class="grid" *ngIf="!showCandidatesScreened && !showCandidateForm">
    <div class="grid">
        <div class="position-title">
            My Positions
        </div>
        <div class="grid">
            <ag-grid-angular class="ag-theme-alpine grid" [rowData]="hireList" [columnDefs]="columnDefs"
                (cellClicked)="onCellClicked($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>
<div class="grid" *ngIf="showCandidatesScreened">
    <div class="grid">
        <div class="position-title">
            Candidates Screened
        </div>
        <div class="grid">
            <ag-grid-angular class="ag-theme-alpine grid" [rowData]="positionList" [columnDefs]="postionColumnDefs">
            </ag-grid-angular>
        </div>
    </div>
    <div class="footer">
        <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;" (click)="onBack()">Back</button>
        <button type="button" class="btn btn-primary" (click)="addCandidate()">Add Candidate</button>
    </div>
</div>
<div *ngIf="showCandidateForm">
    <form>
        <div class="panel">
            <div class="panel-title">
                Candidate Details
            </div>
            <div class="panel-body">
                <div class="row row-bottom" style="margin-top: 10px;">
                    <div class="col-md-1">
                        <label for="interviewee" class="form-label">Interviewee Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="intervieww" class="form-control" id="intervieww" [(ngModel)]="candidate.interviewee"/>
                    </div>
                    <div class="col-md-1">
                        <label for="vendor" class="form-label">Vendor Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="vendor" class="form-control" id="vendor" [(ngModel)]="candidate.vendorName"/>
                    </div>
                    <div class="col-md-1">
                        <label for="contactNumber" class="form-label">Contact Number</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="contactNumber" class="form-control" id="contactNumber" [(ngModel)]="candidate.mobileNumber"/>
                    </div>
                </div>
                <div class="row row-bottom">
                    <div class="col-md-1">
                        <label for="interviewerMsid" class="form-label">Interviewer MSID</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="interviewerMsid" class="form-control" id="interviewerMsid" [(ngModel)]="candidate.interviewedById"/>
                    </div>
                    <div class="col-md-1">
                        <label for="interviewer" class="form-label">Interviewer Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="interviewer" class="form-control" id="interviewer" [(ngModel)]="candidate.interviewedByName"/>
                    </div>
                    <div class="col-md-1">
                        <label for="interviewDate" class="form-label">Interview Date</label>
                    </div>
                    <div class="col-md-3">
                        <input type="date" name="interviewDate" class="form-control" id="interviewDate" [(ngModel)]="candidate.interviewedDate"/>
                    </div>
                </div>
                <div class="row row-bottom">
                    <div class="col-md-1">
                        <label for="interviewerMsid" class="form-label">Outcome</label>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="outcome" id="inlineRadio1"
                                value="Selected" [(ngModel)]="candidate.outcome">
                            <label class="form-check-label" for="inlineRadio1">Selected</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="outcome" id="inlineRadio2"
                                value="Not Selected" [(ngModel)]="candidate.outcome">
                            <label class="form-check-label" for="inlineRadio2">Not Selected</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="interviewer" class="form-label">Did candidate join Morgan Stanley ?</label>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="joined" id="inlineRadio3"
                                value="YES" [(ngModel)]="candidate.joined">
                            <label class="form-check-label" for="inlineRadio3">YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="joined" id="inlineRadio4"
                                value="NO" [(ngModel)]="candidate.joined">
                            <label class="form-check-label" for="inlineRadio4">NO</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer" style="margin-top: 25px;">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
    </form>
</div>