<app-header></app-header>
<ul class="nav nav-tabs mt-2">
    <li class="nav-item" >
      <a class="nav-link active" aria-current="page" routerLink="/pe" routerLinkActive="active">Performance Evaluation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/hire-stack" routerLinkActive="active">Hire Stack</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
</ul>
<div class="mt-2 router-container mb-2 p-sm-4 ">
    <router-outlet></router-outlet>
</div>